---
import BigTitle from "../components/BigTitle.astro";
import Container from "../components/Container.astro";
import Header from "../components/Header.astro";
import PostBody from "../components/PostBody.astro";
import Layout from "../layouts/Layout.astro";

---
<Layout title="Lista 1205 - Congreso del Pueblo">
    <main>
        <Header header="Lista 1205" subheader="Con el pueblo al Frente" bgURL="../../img/columna/18.webp">
            
        </Header>
        <Container>
            <div class="flex flex-row grow-0 gap-4 ">
                <div class="basis-2/3">
                    <p>La lista 1205 pretende expresar el sentir de muchos frenteamplistas que reivindicamos el Frente Amplio fundacional: su carácter antiimperialista y antioligárquico. Representamos la convicción de quienes defendemos el proyecto histórico del FA: nacionalización de la banca, reforma agriaria de caracter artiguista, etc.</p>
                </div>
                <div class="basis-1/3">
                    <img src="../../img/1205.png" alt="Logo de la Lista 1205 en Uruguay" class="w-full">
                </div>
            </div>
        </Container>
        <Container>
            <BigTitle>Propuestas</BigTitle>
            <BigTitle>Nuestro equipo</BigTitle>
            <BigTitle>¡Te llevamos tu lista!</BigTitle>
            
        </Container>
    </main>
</Layout>