---
import BigTitle from "../components/BigTitle.astro";
import Container from "../components/Container.astro";
import Header from "../components/Header.astro";
import PostBody from "../components/PostBody.astro";
import Layout from "../layouts/Layout.astro";

---
<Layout title="Lista 1205 - Congreso del Pueblo">
    <Header header="La 1205" subheader="La lista del pueblo" bgURL="">
        
    </Header>
    <Container>
        <p>La lista 1205 es una propuesta electoral de Congreso del Pueblo, que pretende expresar el sentir de muchos frenteamplistas que reivindicamos el Frente Amplio fundacional: su carácter antiimperialista y antioligárquico. Representamos la convicción de quienes defendemos el proyecto histórico del FA: nacionalización de la banca, reforma agriaria de caracter artiguista, etc.</p>
    </Container>
</Layout>