---
import BigTitle from "../components/BigTitle.astro";
import Container from "../components/Container.astro";
import Header from "../components/Header.astro";
import PostBody from "../components/PostBody.astro";
import Layout from "../layouts/Layout.astro";

---
<Layout title="Lista 1205 - Congreso del Pueblo">
    <main>
        <Header header="1205" subheader="La lista de Congreso del Pueblo" bgURL="../../img/columna/18.webp">
            
        </Header>
        <Container>
            <p>La lista 1205 pretende expresar el sentir de muchos frenteamplistas que reivindicamos el Frente Amplio fundacional: su carácter antiimperialista y antioligárquico. Representamos la convicción de quienes defendemos el proyecto histórico del FA: nacionalización de la banca, reforma agriaria de caracter artiguista, etc.</p>
        </Container>
        <Container>
            <iframe class="border-white border" width="100%" height="315" src="https://www.youtube.com/embed/LvrZr2GnNi0?si=H6x5h8uWnzys-J1o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
        </Container>
    </main>
</Layout>