---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import {Content as C} from '../../public/colabora.md';
import PostBody from "../components/PostBody.astro";
import BigTitle from "../components/BigTitle.astro";
import Container from "../components/Container.astro";
import Title from "../components/Title.astro";

---
<Layout title="Colaborar - Congreso del Pueblo" img="../../img/banners/banner_colabora.png" description="Elegí un monto y aportá a la campaña financiera de Congreso del Pueblo.">
    
    
    <Container>
        <BigTitle>Colaborar</BigTitle>
        <Title>Elegir monto</Title>
        <div class="grid grid-cols-3 md:grid-cols-6 gap-4 mb-4">
            <a href="https://mpago.la/15JPrRR">
                <img src="../../img/banners/aportes/1.jpg" alt="Imagen de botón para donación de $100" class="w-full">
            </a>
            <a href="https://mpago.la/2LjQaCG">
                <img src="../../img/banners/aportes/2.jpg" alt="Imagen de botón para donación de $200" class="w-full">
            </a>
            <a href="https://mpago.la/31F8jMj">
                <img src="../../img/banners/aportes/3.jpg" alt="Imagen de botón para donación de $500" class="w-full">
            </a>
            <a href="https://mpago.la/1ynqMyC">
                <img src="../../img/banners/aportes/4.jpg" alt="Imagen de botón para donación de $1000" class="w-full">
            </a>
            <a href="https://mpago.la/2vDCDAN">
                <img src="../../img/banners/aportes/5.jpg" alt="Imagen de botón para donación de $1500" class="w-full">
            </a>
            <a href="https://mpago.la/1jNhqqi">
                <img src="../../img/banners/aportes/6.jpg" alt="Imagen de botón para donación de $2000" class="w-full">
            </a>
        </div>
        
        <a href="https://link.mercadopago.com.uy/congresodelpueblo">
            <img src="../../img/banners/banner2_colabora.png" alt="Banner para donar un monto personalizado" class="w-full">
        </a>
    </Container>
    <PostBody>
        <C/>
    </PostBody>
</Layout>
