---
import Container from "../components/Container.astro";
import Header from "../components/Header.astro";
import Timeline from "../components/Timeline.astro";
import Title from "../components/Title.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout title="Formación - Congreso del Pueblo" img="../../img/formacion/fidel-leyendo.webp" description="Plan de estudios para los militantes de Congreso del Pueblo. Está pensado para llevarse a cabo en 12 meses y navega entre diferente bibliografía marxista-leninista.">
    <Header header="Formación" subheader="Sin teoría revolucionaria, no puede haber tampoco movimiento revolucionario. (V. Lenin)" bgURL="../../img/formacion/fidel-leyendo.webp" anchor="top"></Header>
    <Container>
        <Title>Plan 2024</Title>
        <Title>Marx y Engels</Title>
    <ol class="relative border-s border-gray-200 my-8">          
        <Timeline title="Manifiesto Comunista" subtitle="21 de febrero de 1848" description="La obra revolucionaria más importante de las historia, elaborado por Karl Marx y Friedrich Engels, donde se definen los principios de los comunistas." span="Abril" url="https://drive.google.com/file/d/1iQXI1l-0hqf46j70dH06Yfc_SqrLn6HA/view?usp=drive_link"></Timeline>
        <Timeline title="Introducción a la dialéctica de la naturaleza" subtitle="1 de enero de 1883" description="Una profunda investigación filosófica de la historia y de las cuestiones fundamentales de las ciencias naturales y se critican el mecanicismo y el método metafísico." span="Mayo" url="https://drive.google.com/file/d/1k2jFDSXePtRs4cU8EEgYc2URo7ljwkf1/view?usp=drive_link"></Timeline>
        <Timeline title="Contribución a la crítica de la economía política" subtitle="1 de enero de 1859" description="“Esta obra contiene la primera exposición sistemática de la teoría marxista del valor, incluyendo también la teoría del dinero” (Engels)" span="Junio" url="https://drive.google.com/file/d/1sNEKh5NmgTySG9yNetcY3fqrS5SrkmDM/view?usp=drive_link"></Timeline>
    </ol>
    <Title>Lenin</Title>
    <ol class="relative border-s border-gray-200 my-8"> 
        <Timeline title="Tres fuentes y tres partes del marxismo" subtitle="14 de mayo de 1899" description="Un artículo fundamental que explora las raíces y los componentes esenciales del marxismo." span="Julio" url="https://drive.google.com/file/d/1RWFMpAIkOaGg0DWkvF5K_1fO2274wPz0/view?usp=drive_link"></Timeline>
        <Timeline title="¿Qué hacer?" subtitle="marzo de 1902" description=" Lenin aborda la organización y la estrategia revolucionaria. Propone la formación de un partido de vanguardia compuesto por revolucionarios profesionales." span="Agosto" url="https://drive.google.com/file/d/1sHsfZju5IczR6ZcLKc4JiUbU5TNDPTy-/view?usp=drive_link"></Timeline>
        <Timeline title="El Imperialismo, fase superior del Capitalismo" subtitle="1 de abril de 1917" description="Lenin examina el imperialismo como una etapa avanzada del capitalismo. Argumenta que las grandes potencias capitalistas se involucran en la explotación de las colonias y la competencia por los mercados, lo que lleva a conflictos y guerras." span="Setiembre" url="https://drive.google.com/file/d/1XIzZqMOwyEY3Wh_Wb0FDVT8das34mApk/view?usp=drive_link"></Timeline>
    </ol>
    <Title>Arismendi</Title>
    <ol class="relative border-s border-gray-200 my-8"> 
        <Timeline title="Problemas de una revolución continental" subtitle="" description="" span="Octubre" url=""></Timeline>
        <Timeline title="Encuentros y desencuentros de la Universidad con la revolución" subtitle="Julio de 1965" description="" span="Noviembre" url="https://drive.google.com/file/d/1UFqE1eQpVQN_G5OpZGSYCwOucaEe2qs-/view?usp=drive_link"></Timeline>
        <Timeline title="Lenin, la revolución y América Latina" subtitle="1983" description="" span="Diciembre" url="https://drive.google.com/file/d/1_K9LM_HRVrgPs4VNz9SAp-NZFwpHn_nF/view?usp=drive_link"></Timeline>
    </ol>
</Container>
</Layout>