---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Cards/Card.astro";
import Header from "../components/Header.astro";
import Container from "../components/Container.astro";
import Button from "../components/Button.astro";
import LastPost from "../components/LastPost.astro";
import BigTitle from '../components/BigTitle.astro'
import Social from "../components/Social.astro";
import Title from "../components/Title.astro";
import HeaderIndex from "../components/HeaderIndex.astro";


---

<Layout title="Congreso del Pueblo - Organización política de Uruguay" img="../../img/logo.png" description="Sitio web de Congreso del Pueblo, organización marxista-leninista uruguaya.">
	<main>
		<HeaderIndex
			header="Por un Frente <br/> más Amplio,<br/> más profundo"
			subheader="Somos una organización marxista-leninista uruguaya, del Frente Amplio, en la lucha por recomponer el movimiento revolucionario."
			bgURL="/img/header.webp"
			anchor="center"
		>
		<div class="flex flex-col space-y-4">
				<div class="flex flex-col gap-2 items-center my-4">
					<a href="/afiliarse" class="transition-all hover:bg-white text-white hover:text-primary text-white bg-primary text-3xl py-1 px-3 rounded font-semibold">AFILIATE</a>

				</div>

			
				<Social small white></Social>
			</div>
			
		</HeaderIndex>
			

		
		<Container>
			<a href="/1205">
				<img src="/img/banners/banner_1205.webp" class="w-full shadow-md invisible md:invisible lg:visible h-0 lg:h-auto" alt="">
				<img src="/img/banners/banner_1205_mobile.webp" class="w-full shadow-md visible lg:hidden" alt="">
			</a>
		</Container>
		
 
				

	
		<Container>
			
			<a href="/columna"><BigTitle>La Columna del Pueblo</BigTitle></a>
			<LastPost entries={'columna'} count={3}></LastPost>
		</Container>
			<Container>
			<a href="/documentos"></a><BigTitle>Declaraciones</BigTitle></a>
			<LastPost entries={'documentos'} count={6}></LastPost>
		</Container>

		<Container>
			<div class="flex space-x-0 md:space-x-0  md:px-0 flex-col sm:flex-col md:flex-row">
				<a
				href="/afiliarse"
				class="basis-1/2 flex justify-center bg-primary"
			>
				<img
					width="350px"
					src="../../img/banners/banner_afiliate.png"
					alt="Banner de la Campaña de Afiliación de Congreso del Pueblo"
				/>
			</a>
			<a
				href="/colaborar"
				class="basis-1/2 flex justify-center bg-secondary"
			>
				<img
					width="350px"
					src="../../img/banners/banner_colabora.png"
					alt="Banner de la Campaña Financiera de Congreso del Pueblo"
				/>
			</a>
		</div>
		</Container>


		<Container>
			<BigTitle>La organización</BigTitle>
			<Title>Carácter de la organización</Title>
			<section class="bg-white">
				<div class="py-4  max-w-screen-xl lg:py-4 ">
					<blockquote class="p-4 my-4 border-s-4 border-gray-300 bg-gray-50">
						<p class="mb-4">Congreso del Pueblo (CP) es una organización política que, orientada por la ideología científica del marxismo-leninismo, brega por la construcción de un partido de la clase obrera.</p>
						<p class="mb-4">Es la unión voluntaria de sus miembros, que luchan por la unidad de la clase obrera y el pueblo, para llevar a cabo el proyecto histórico de Liberación Nacional y la revolución socialista, como transición al Comunismo.</p>
						<p class="mb-4">Lucha de forma abnegada por los intereses de los trabajadores, obreros y campesinos, en estrecho vínculo con las organizaciones populares. Este proceso, es parte de la lucha por construir una Democracia Avanzada, vía peculiar de aproximación al Socialismo en Uruguay.</p>
						<p class="mb-4">Hace suya, y se integra, a la rica historia combativa de nuestro pueblo. Hace suyo el ideario artiguista por su contenido anticolonial, americanista y popular.</p>
						<p class="mb-4">Es internacionalista y antiimperialista. Apoya solidariamente a todos los pueblos que luchan, alrededor del mundo, por finalizar el sádico sistema de explotación del hombre por el hombre, y los pueblos que resisten el yugo del imperialismo yanqui.</p>
						<cite class="pe-3 font-medium text-gray-900">Acuerdo de funcionamiento, Artículo 1</cite>
					</blockquote>
						<a href="/quienes-somos#documentos" class="inline-flex items-center font-medium text-black hover:text-primary">
							Ver más
							<svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
						</a>
					
				</div>
			  </section>

		</Container>

	</main>
</Layout>
