---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Congreso del Pueblo - Inicio">
	<main>
	<Header
		header='Congreso del Pueblo'
		subheader='#ConstruyamosIzquierda'
		bgURL='https://lh5.googleusercontent.com/C68c7nYN_d0NWXu5IOgEgCQWdCEtqc-NznVbDDo0-G5JpiOXZ3KzFKpnXgBzvCWwx4b4trL4Tl2DZX0aqrRqHII=w16383'
		>
	</Header>
	</main>
</Layout>