---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Congreso del Pueblo - Inicio">
	<main>
		<Header
		header='Congreso del Pueblo'
		subheader='#ConstruyamosIzquierda'>
		</Header>
	</main>
</Layout>