---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Cards/Card.astro";
import Header from "../components/Header.astro";
import Container from "../components/Container.astro";
import Button from "../components/Button.astro";
import LastPost from "../components/LastPost.astro";
import BigTitle from '../components/BigTitle.astro'
import Social from "../components/Social.astro";
import Title from "../components/Title.astro";


---

<Layout title="Congreso del Pueblo - Organización política de Uruguay" img="../../img/logo.png" description="Sitio web de Congreso del Pueblo, organización marxista-leninista uruguaya.">
	<main>
		<Header
			header="Congreso del Pueblo"
			subheader="Organización marxista-leninista uruguaya, sector integrante del Frente Amplio, en la brega por recomponer el movimiento revolucionario."
			bgURL="/img/header.webp"
			anchor="center"
		>
			<div class="flex flex-col space-y-4">
				<div class="flex flex-col md:flex-row space-x-0 space-y-1 md:space-y-0 md:space-x-2">
					<Button href="/afiliarse">Sumate a CP</Button>
					<a href="/quienes-somos" class="text-gray-300 flex items-center"><span class="mdi mdi-information-variant-circle-outline mr-1"></span>Sobre nosotros</a>
				</div>
			
				<Social small white></Social>
			</div>
			
		</Header>
			<div class="flex space-x-0 md:space-x-0  md:px-0 flex-col sm:flex-col md:flex-row">
				<a
				href="/afiliarse"
				class="basis-1/2 flex justify-center bg-primary"
			>
				<img
					width="350px"
					src="../../img/banners/banner_afiliate.png"
					alt="Banner de la Campaña de Afiliación de Congreso del Pueblo"
				/>
			</a>
			<a
				href="/colaborar"
				class="basis-1/2 flex justify-center bg-secondary"
			>
				<img
					width="350px"
					src="../../img/banners/banner_colabora.png"
					alt="Banner de la Campaña Financiera de Congreso del Pueblo"
				/>
			</a>
		</div>
		
 
				

	
		<Container>
			<BigTitle>Nuestra prensa</BigTitle>
			<a href="/columna"><Title>La Columna del Pueblo</Title></a>
			<LastPost entries={'columna'} count={3}></LastPost>

			<Title mt>Otras publicaciones</Title>
			<div class="flex space-x-0 md:space-x-4  md:px-0 flex-col sm:flex-col md:flex-row">
				<div class="basis-1/2">
					<Card
						title="En Marcha"
						body="Periódico"
						href="https://prensa.congresodelpueblo.uy/"
						class:list={"px-2"}
					/></div>
					
					<div class="basis-1/2">
						<Card
							title="Revista"
							body="Revista teórica"
							href="https://revista.congresodelpueblo.uy/"
						/>
					</div>
				</div>
			</div>
		</Container>


		<Container>
			<BigTitle>La organización</BigTitle>
			<Title>Carácter de la organización</Title>
			<section class="bg-white">
				<div class="py-4  max-w-screen-xl lg:py-4 ">
					<blockquote class="p-4 my-4 border-s-4 border-gray-300 bg-gray-50">
						<p class="mb-4">Congreso del Pueblo (CP) es una organización política que, orientada por la ideología científica del marxismo-leninismo, brega por la construcción de un partido de la clase obrera.</p>
						<p class="mb-4">Es la unión voluntaria de sus miembros, que luchan por la unidad de la clase obrera y el pueblo, para llevar a cabo el proyecto histórico de Liberación Nacional y la revolución socialista, como transición al Comunismo.</p>
						<p class="mb-4">Lucha de forma abnegada por los intereses de los trabajadores, obreros y campesinos, en estrecho vínculo con las organizaciones populares. Este proceso, es parte de la lucha por construir una Democracia Avanzada, vía peculiar de aproximación al Socialismo en Uruguay.</p>
						<p class="mb-4">Hace suya, y se integra, a la rica historia combativa de nuestro pueblo. Hace suyo el ideario artiguista por su contenido anticolonial, americanista y popular.</p>
						<p class="mb-4">Es internacionalista y antiimperialista. Apoya solidariamente a todos los pueblos que luchan, alrededor del mundo, por finalizar el sádico sistema de explotación del hombre por el hombre, y los pueblos que resisten el yugo del imperialismo yanqui.</p>
						<cite class="pe-3 font-medium text-gray-900">Acuerdo de funcionamiento, Artículo 1</cite>
					</blockquote>
						<a href="/quienes-somos#documentos" class="inline-flex items-center font-medium text-black hover:text-primary">
							Ver más
							<svg class="ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
						</a>
					
				</div>
			  </section>
			  <Title mt>Documentos</Title>
			  <LastPost entries={'documentos'} count={3}></LastPost>

		</Container>

	</main>
</Layout>
