---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import {Content as QS} from '../../public/quienes-somos.md';
import Card from "../components/Cards/Card.astro";
import PostBody from "../components/PostBody.astro";
import Link from "../components/Link.astro";
import BigTitle from "../components/BigTitle.astro";
import Title from "../components/Title.astro";
import Social from "../components/Social.astro";
---

<Layout title="Quiénes somos - Congreso del Pueblo" img="../../img/quienes-somos.webp" description="Congreso del Pueblo nace para forjar ese protagonismo revolucionario de nuestro pueblo, somos obreros, campesinos, estudiantes, docentes, intelectuales, pequeños productores y comerciantes, jubilados, somos el changador y el zafrero, el que pone el puesto en la feria para sobrevivir, somos parte de los sencillos que hablara Pablo Neruda.">
    <Header
        header="Quiénes somos"
        subheader="Congreso del Pueblo"
        bgURL="../../img/quienes-somos.webp"
        anchor="top"
    ></Header>

    
    
    <PostBody>
        <QS/>
        <Link href="/congreso-del-pueblo-1965"><p class="text-center">¿Qué fue el Congreso del Pueblo de 1965? Haz click aquí.</p></Link>

    </PostBody>

    <Container title="Nuestras redes">
        <Social></Social>
    </Container>
        
    <Container title="Documentos orgánicos">
        <div id="documentos" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
            <Card title="Acuerdo de funcionamiento" body="" href="https://drive.google.com/file/d/11lZObbPV79j18L7_hyY8cxbKzYaNT7J3/view?usp=sharing"></Card>
        <Card title="Programa" body="" href=""></Card>
        <Card title="Manifiesto" body="" href=""></Card>
        </div>
        </Container>   
</Layout>
