---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
import Container from "../components/Container.astro";
import {Content as QS} from '../../public/quienes-somos.md';
import Card from "../components/Cards/Card.astro";
---

<Layout title="Quiénes somos - Congreso del Pueblo" img="../../img/logo.png">
    <Header
        header="Quiénes somos"
        subheader="Congreso del Pueblo"
        bgURL="../../img/quienes-somos.webp"
        anchor="top"
    ></Header>
    <Container title="Sobre nosotros">
        <QS/>
     
        
    </Container>
    <Container title="3 años construyendo esperanza">
        <iframe width="100%" height="400" src="https://www.youtube.com/embed/KwAEujCNDGw?si=Td_pycyYYizHJTqj" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </Container>
    <Container title="Documentos orgánicos">
        <div id="documentos" class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4">
            <Card title="Acuerdo de funcionamiento" body="" href="https://drive.google.com/file/d/11lZObbPV79j18L7_hyY8cxbKzYaNT7J3/view?usp=sharing"></Card>
        <Card title="Programa" body="" href=""></Card>
        <Card title="Manifiesto" body="" href=""></Card>
        </div>
        </Container>   
</Layout>
