---
interface Props {
    white? : boolean;
}

const {white = false} = Astro.props;
---
<h2 class:list={[{
    'text-white': white,
    'text-gray-800': !white
}]} class="text-pretty hyphens-auto mb-6 font-extrabold tracking-tight leading-none  text-5xl md:text-5xl lg:text-6xl text-balance text-center mt-16"><slot/></h2>