---
interface Props {
    href: string;
    style: string;
}

const { href, style } = Astro.props;
---

<a
    href={href}
    class:list={[
        "flex flex-row items-center gap-2 select-none rounded-lg py-3 px-6 text-center align-middle font-sans text-xs font-bold transition-all hover:opacity-75",
        {
            'rounded-lg bg-red-600 text-white': style == '0',
            'rounded-lg border border-white text-white': style == '1',
            'rounded-lg border border-gray-900 text-gray-900': style == '2'
        },
    ]}>
    <slot name="before"/>
    <slot/>
    <slot name="after"/>
    </a>
