---
import Title from "../components/Title.astro";

interface Props {
    title?: string;
}

const {title} = Astro.props;
---

<div class="mb-16 lg:px-64 md:px-32 px-4">
    {title? <Title>{title}</Title> : ''}
<slot/>
</div>