---
interface Props {
    withoutMarginTop?: boolean;
}
const {withoutMarginTop = false} = Astro.props;
---
<section class="max-w-6xl md:px-32 px-4 m-auto"
class:list={[{
    'mt-0 mb-32': withoutMarginTop,
    'my-32 md:my-44': !withoutMarginTop
}]}>
<slot/>
</section>