---
interface Props {
    header: string,
    subheader: string,
    bgURL: string;
    anchor?: string;
}

const {header, subheader, bgURL, anchor} = Astro.props;
---



<section style={`background-image: url(${bgURL});`} class:list={[{
    'bg-top': anchor == 'top',
    'bg-center': anchor == 'center',
    'bg-bottom': anchor == 'bottom',
}]} class="bg-center bg-no-repeat bg-cover bg-gray-600 bg-blend-multiply ">
    <div class="mx-auto max-w-6xl text-center py-24 lg:py-40">
        <div class="flex flex-col space-y-4 sm:flex-row justify-center items-center sm:space-y-0 mb-12">
          <slot name="after-header"/>
        </div>
        <div>
          <h1 class="text-gray-200 relative bottom-10">Congreso del Pueblo | Frente Amplio | Uruguay</h1>
          <h2 class="mb-4 font-black tracking-tight leading-none text-white text-5xl md:text-6xl lg:text-6xl text-balance uppercase shadow-lg">{header}</h2>
        <h3 class="mb-8 text-lg font-normal text-gray-300 lg:text-xl sm:px-16 lg:px-48 text-pretty shadow-lg">{subheader}</h3>
        </div>
        <div class="flex flex-col space-y-4 sm:flex-row justify-center items-center sm:space-y-0">
          <slot/>
        </div>
    </div>
</section>

