---
---

<div class="post pt-8 pb-16 lg:px-64 md:px-32 px-4 text-pretty text-gray-800 text-justify hyphens-auto">
    <slot/>
</div>

<style is:global>
    .post > h2 {
        font-size:x-large;
        font-weight: bolder;
        margin-bottom: 0.1em;
        margin-top: 2em;
        text-align: start;
        font-size:xx-large;
    }
    .post > h3 {
        font-weight: bolder;
        font-size: larger;
        margin-top: 2em;
    }
    .post > p {
        margin-bottom: 1.3rem;
        font-size: large;
    }
    .post > p > a {
        color: #d71920 !important;
    }
</style>
