---

---

<div
    class="post pt-8 pb-16 lg:px-64 md:px-32 px-4 text-pretty text-gray-800 hyphens-auto"
    itemprop="articleBody"
    >
    <slot />
</div>

<style is:global>
    .post > h2 {
        font-size: x-large;
        font-weight: bolder;
        margin-bottom: 0.1em;
        margin-top: 2em;
        text-align: start;
        font-size: 1.5rem;
    }
    .post > h3 {
        font-weight: bolder;
        font-size: 1.25rem;
        margin-top: 2em;
    }
    .post > p {
        margin-bottom: 1.4rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }
    .post > p > a {
        color: #d71920 !important;
        hyphens: auto;
        word-break:break-all;
        text-decoration: underline;
        
   }
    .post ul {
        list-style-type: square;
        padding-left: 2em;
        margin-bottom: 1.3rem;
        font-size: large;
    }
    .post ol {
        list-style-type: lower-roman;
        padding-left: 2em;
        margin-bottom: 1.3rem;
        font-size: large;
    }

    .post h2 + h3{
        margin-top: 0.5em !important;
    }

    .post blockquote{
    width: 90%;  /* create space for the quotes */
    color: #2e2e2e;
    margin: 1rem auto 1rem;
    position: relative;
    }

    .post blockquote p{
        margin-bottom: 1.4rem;
        font-size: 1rem;
        line-height: 1.5rem;
    }

    .post blockquote::before {
        content: '”';
        color: #ffe7e7;
        position: absolute;
        left: -0.3em;
        top: -0.5em;
        font-size: 8rem;
        font-weight: 600;
        z-index: -1;
    }
</style>
