---
---

<div class="post py-16 lg:px-64 md:px-32 px-0 px-4 text-pretty text-gray-700 text-justify hyphens-auto">
<slot/>
</div>

<style is:global>
    .post > h2 {
        font-size: larger;
        font-weight: bolder;
        margin-bottom: 0.1em;
        margin-top: 2em;
    }
</style>
