---
---

<h2 class="relative text-4xl font-bold py-6 text-gray-900"><div class="absolute  left-6 bg-primary redline"></div><slot/></h2>

<style>
    .redline {
        height: 1em;
        width: 0.1em;
        left: -0.3em;
        top: 0.8em;
    }
</style>