---
interface Props {
    white? : boolean;
    mt? : boolean
}

const {white = false, mt = false} = Astro.props;
---

<h3 class="relative text-4xl font-semibold pt-4 pb-6 text-pretty text-gray-800 hyphens-auto text-center"
class:list={[{
    "text-white": white,
    'mt-16': mt
}]}></div><slot/></h3>
