---
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";

interface Props {
	title: string;
	img: string;
}

const { title, img } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/png" href="/public/favicon.png" />
		<link rel="sitemap" href="/sitemap-index.xml" />
		<link rel="canonical" href="https://congresodelpueblo.uy/" />
		<!-- Primary Meta Tags -->
		
		<meta name="author" content="Mateo Peña" />
		<meta name="copyright" content="Congreso del Pueblo" />
		<meta name="keywords" content="Congreso del Pueblo, Comunismo, Frente Amplio, revolución, trabajadores"/>
		<title>{title}</title>
		<meta name="title" content={title} />
		<meta
			name="description"
			content="Sitio web de Congreso del Pueblo, organización marxista-leninista uruguaya."
		/>

		<!-- Open Graph / Facebook -->
		<meta property="og:type" content="website" />
		<meta property="og:url" content="https://www.congresodelpueblo.uy/" />
		<meta property="og:title" content={title}
		/>
		<meta
			property="og:description" content="Sitio web de Congreso del Pueblo, organización marxista-leninista uruguaya."
		/>
		<meta
			property="og:image"
			content={img? 'https://congresodelpueblo.uy/' +img : 'https://www.congresodelpueblo.uy/img/quienes-somos.webp'}
		/>

		<!-- Twitter -->
		<meta property="twitter:card" content="summary_large_image" />
		<meta property="twitter:url" content="https://www.congresodelpueblo.uy/" />
		<meta
			property="twitter:title"
			content={title}
		/>
		<meta
			property="twitter:description"
			content="Sitio web de Congreso del Pueblo, organización marxista-leninista uruguaya."
		/>
		<meta
			property="twitter:image"
			content={img? 'https://www.congresodelpueblo.uy/' +img : 'https://www.congresodelpueblo.uy/img/quienes-somos.webp'}
		/>

		<script
			is:inline
			src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"
		></script>
		
<script is:inline async src="https://www.googletagmanager.com/gtag/js?id=G-V10PXPJ7NK"></script>
<script is:inline>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-V10PXPJ7NK');
</script>
	</head>
	<body>
		<Navbar />
		<slot />
		<Footer />
	</body>
</html>

<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}
	html {
		font-family: system-ui, sans-serif;
		background-size: 224px;
		color-scheme: light;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
</style>
